<!-- Footer -->
 <footer class="text-center text-lg-start bg-primary text-muted">
  <!-- Grid container -->
  <div class="container d-flex justify-content-center align-items-center pt-4">
    <!-- Section: Social media -->
    <section class="mb-2">
      <!-- Facebook -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="bi bi-facebook"> Facebook</i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="bi bi-instagram"> Instagram</i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->
    <div class="text-center p-4" style="color: black;">
      © 2024 Copyright:
      <a class="fw-bold" style="color:black; text-decoration-line:none">Digitalsmart</a>
    </div>
   
  </footer>
   
