<div class="container text-center">
    <div class="row">
      <div class="col">
        <img src="../../../assets/Logo.png" alt="" width="200px" height="200px">
      </div>
      <div class="col">
        <div class="mb-3">
             <i class="bi bi-phone"> +56944347226</i>
        </div>
        <div class="mb-3">
            <i class="bi bi-envelope"> digitalsmart0001&#64;gmail.com</i>
        </div >
        <div class="mb-3" >
            <i class="bi bi-map"> Cobertura en todo Chile</i>
        </div>
       

      </div>
      <div class="col">
        <img src="../../../assets/logo-webpay-plus-3-2.png" class="card-img-top" alt="...">
      </div>
    </div>
  </div>
