<div class="container"> 
  <div class="d-flex justify-content-center align-items-center">
    <h1 class="servicios"> Nuestros servicios</h1>
  </div>
  <hr>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100 d-flex justify-content-center align-items-center card-border">
        <img src="../../../assets/window.svg" class="imagen" alt="...">
        <div class="card-body">
          <h5 class="card-title textos-card ">Paginas Webs Autoadministrables</h5>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <button type="button" class="btn btn-primary">Ver más</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 d-flex justify-content-center align-items-center card-border ">
        <img src="../../../assets/laptop.svg" class="imagen" alt="...">
        <div class="card-body">
          <h5 class="card-title textos-card">Formateos y respaldos</h5>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <button type="button" class="btn btn-primary">Ver más</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 d-flex justify-content-center align-items-center card-border ">
        <img src="../../../assets/cpu-fill.svg" class="imagen" alt="...">
        <div class="card-body">
          <h5 class="card-title textos-card">Upgrade y limpieza de piezas</h5>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <button type="button" class="btn btn-primary">Ver más</button>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center align-items-center p-4">
    <img src="../../../assets/arrow-down.svg" class="imagen" alt="...">
  </div>

  <div class="d-flex justify-content-center align-items-center">
    <h1 class="portafolio"> Portafolio</h1>
  </div>
  <hr>
  <div class="d-flex justify-content-center align-items-center pb-2">
    <h5>Aca puedes ver algunos de nuestros proyectos realizados</h5>
  </div>
  
  <div class="d-flex justify-content-center align-items-center">
    <section class="pt-5 pb-5">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row">
                    <div class="col-md-4 mb-3">
                      <div class="card">
                        <img class="img-fluid" alt="100%x280" src="../../../assets/ryzen.png">
                        <div class="card-body">
                          <h4 class="card-title">Special title treatment</h4>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 mb-3">
                      <div class="card">
                        <img class="img-fluid" alt="100%x280" src="../../../assets/ryzen.png">
                        <div class="card-body">
                          <h4 class="card-title">Special title treatment</h4>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 mb-3">
                      <div class="card">
                        <img class="img-fluid" alt="100%x280" src="../../../assets/ryzen.png">
                        <div class="card-body">
                          <h4 class="card-title">Special title treatment</h4>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    
                        </div>
                      </div>
                    </div>
    
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="col-md-4 mb-3">
                      <div class="card">
                        <img class="img-fluid" alt="100%x280"
                          src="https://images.unsplash.com/photo-1532771098148-525cefe10c23?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3f317c1f7a16116dec454fbc267dd8e4">
                        <div class="card-body">
                          <h4 class="card-title">Special title treatment</h4>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    
                        </div>
    
                      </div>
                    </div>
                    <div class="col-md-4 mb-3">
                      <div class="card">
                        <img class="img-fluid" alt="100%x280"
                          src="https://images.unsplash.com/photo-1532715088550-62f09305f765?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ebadb044b374504ef8e81bdec4d0e840">
                        <div class="card-body">
                          <h4 class="card-title">Special title treatment</h4>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 mb-3">
                      <div class="card">
                        <img class="img-fluid" alt="100%x280"
                          src="https://images.unsplash.com/photo-1506197603052-3cc9c3a201bd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=0754ab085804ae8a3b562548e6b4aa2e">
                        <div class="card-body">
                          <h4 class="card-title">Special title treatment</h4>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="col-md-4 mb-3">
                      <div class="card">
                        <img class="img-fluid" alt="100%x280"
                          src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ee8417f0ea2a50d53a12665820b54e23">
                        <div class="card-body">
                          <h4 class="card-title">Special title treatment</h4>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 mb-3">
                      <div class="card">
                        <img class="img-fluid" alt="100%x280"
                          src="https://images.unsplash.com/photo-1532777946373-b6783242f211?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=8ac55cf3a68785643998730839663129">
                        <div class="card-body">
                          <h4 class="card-title">Special title treatment</h4>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 mb-3">
                      <div class="card">
                        <img class="img-fluid" alt="100%x280"
                          src="https://images.unsplash.com/photo-1532763303805-529d595877c5?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=5ee4fd5d19b40f93eadb21871757eda6">
                        <div class="card-body">
                          <h4 class="card-title">Special title treatment</h4>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <button type="button" class="btn btn-primary">Ver más</button>
      </div>
    </section>
    </div>

  <div class="d-flex justify-content-center align-items-center p-4">
    <img src="../../../assets/arrow-down.svg" class="imagen" alt="...">
  </div>

  <div class="d-flex justify-content-center align-items-center">
    <h1 class=""> ¿NECESITAS AYUDA?</h1>
  </div>

  <hr>

  <div class="d-flex justify-content-center align-items-center pb-2">
    <h5>Si tienes una idea en mente o necesitas ayuda con tu pc no dudes en contactarnos </h5>
  </div>

  <div class="d-flex justify-content-center align-items-center p-4">
    <img src="../../../assets/arrow-down.svg" class="imagen" alt="...">
  </div>
  
  <div class="d-flex justify-content-center align-items-center">
    <div class="card" style="width: 18rem;">
    <img src="../../../assets/logo-webpay-plus-3-2.png" class="card-img-top" alt="...">
    </div>
  </div>

  <div class="d-flex justify-content-center align-items-center p-4">
    <img src="../../../assets/arrow-down.svg" class="imagen" alt="...">
  </div>
  
  <div class="d-flex justify-content-center align-items-center">
    <h1 class=""> CONTACTANOS</h1>
  </div>

  <hr>


</div>